# .github/workflows/docker.yml

name: Build and push multi-arch pipeline image

on:
  release:
    types: [published]
  #push:
  #  tags: [ 'v*.*.*', 'v*.*.*-*' ]
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Build and push
        run: |
          TAG=${GITHUB_REF#refs/tags/v}
          LOWER_OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -t ghcr.io/$LOWER_OWNER/pipeline_eds:$TAG \
            -t ghcr.io/$LOWER_OWNER/pipeline_eds:latest \
            -f Dockerfile.multi-dev . \
            --push

